{% extends "base.html" %}
{% from 'component.html' import component %}

{% block title %}CTI{% endblock %}

{% block content %}
	{{ component(navigation) }}
	
	<main class="mb-3">
		<div class="container">
			
			<div class="row">
				<div class="col-12">
					<div class="card my-3">
						<div class="card-header d-flex justify-content-between align-items-center">
							<span class="title">{{ "tours_title"|translated }}</span>
							<div>
								<a class="btn btn-primary" href="/admin/tour" role="button">
									<span class="oi oi-plus"></span>
								</a>
							</div>
						</div>
						<div class="card-body">
							<form>
								<div class="form-row">
									<div class="form-group col-12 col-sm-6">
										<label for="touroperator">Touroperator</label>
										<input type="text" class="form-control" id="touroperator" placeholder="Tour operator">
									</div>
									<div class="form-group col-12 col-sm-6">
										<label for="tourcode">Tourcode</label>
										<input type="text" class="form-control" id="tourcode" placeholder="Tourcode">
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Search</button>
								<button type="reset" class="btn">Reset</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					<div class="card mb-3">
						<div class="card-header">
							Results
						</div>
						
						<ul class="list-group list-group-flush">
							<a href="#" class="list-group-item list-group-item-action">
								Dapibus ac facilisis in
							</a>
							<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
							<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
							<a href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</main>
{% endblock %}
