{% extends "base.html" %}
{% from 'component.html' import component %}

{% block title %}{{ "home_title"|translated }}{% endblock %}

{% block content %}

	<main class="my-3">
		<div class="container">
			<div class="jumbotron">
				<h1 class="display-4">{{ "application_title"|translated }}</h1>
				<p class="lead">{{ "application_lead"|translated }}</p>
				<hr class="my-4">
				<p>{{ "application_description"|translated }}</p>
				<a class="btn btn-primary btn-lg" href="/scanner" role="button">{{ "scanner"|translated }}</a>
				<a class="btn btn-primary btn-lg" href="/admin/templates" role="button">{{ "admin"|translated }}</a>
			</div>
		</div>
	</main>
{% endblock %}
