{% extends "base.html" %}
{% from 'component.html' import component %}

{% block title %}CTI{% endblock %}

{% block content %}
	{{ component(navigation) }}
	
	<main class="mb-3">
		<script>
			function onClear() {
				document.getElementById('name').value = "";
			}
		</script>
		<div class="container">
			
			<div class="row">
				<div class="col-12">
					<div class="card my-3">
						<div class="card-header d-flex justify-content-between align-items-center">
							<span class="title">{{ "touroperators_title"|translated }}</span>
							<div>
								<a class="btn btn-primary" href="/admin/tour-operator" role="button">
									<span class="oi oi-plus"></span>
								</a>
							</div>
						</div>
						<div class="card-body">
							<form method="POST">
								<div class="form-row">
									<div class="form-group col-12 col-sm-3">
										<label for="name">{{ "touroperators_name"|translated }}</label>
										<input type="text" name="name" class="form-control" id="name" placeholder="Name" value="{{state.filter.name}}">
									</div>
								</div>
								<button type="submit" class="btn btn-primary">{{ "search"|translated }}</button>
								<button type="button" class="btn" onclick="onClear()">{{ "reset"|translated }}</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			{% if state.items is not empty %}
			<div class="row">
				<div class="col-12">
					<div class="card mb-3">
						<div class="card-header">
							{{ "searchresults"|translated }}
						</div>
						
						<ul class="list-group list-group-flush">
							{% for item in state.items %}
								<a href="tour-operator/{{ item.id() }}" class="list-group-item list-group-item-action">
									<div class="row">
										<div class="col-12">
											{{ item.name() }}
										</div>
									</div>
								</a>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			
		</div>
	</main>
{% endblock %}
