{% extends "base.html" %}
{% from 'component.html' import component %}

{% block title %}CTI{% endblock %}

{% block content %}
	{{ component(navigation) }}
	{{ component(messages) }}

    <main class="mb-3">
		<script>
			function submitForm() {
				document.getElementById('form').submit();
			}

			function deleteById() {
				fetch(window.location.href, {
					method: 'delete'
				}).then((response) => {
					goBack();
				});
			}

			function deletePositionById(tourId, tourPositionId) {
				fetch("/rest/admin/tour/positions/" + tourId + "/" + tourPositionId, {
					method: 'delete'
				}).then(() => {
					location.reload();
				});
			}

			function goBack() {
				window.location.href = '/admin/tours';
			}
		</script>
		<div class="container my-3">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div>
								<a class="btn btn-info" href="/admin/tours" role="button">
									<span class="oi oi-chevron-left"></span>
								</a>
								<span class="title">{{ "tour_title"|translated }}</span>
							</div>
							<div>
								{% if state.mode.isEdit() %}
								<button type="button" onclick="deleteById()" class="btn btn-danger">
									<span class="oi oi-trash"></span>
								</button>
								
								{% endif %}
								<button type="button" onclick="submitForm()" class="btn btn-success ml-2">
									<span class="oi oi-check"></span>
								</button>
							</div>
						</div>
						<div class="card-body">
							<form method="POST" id="form">
								<div class="form-row">
									<div class="form-group col-12 col-sm-3">
										<label for="code">{{ "tour_code"|translated }}</label>
										<input type="text" name="code" class="form-control" id="code" placeholder="Code" value="{{state.entity.code()}}">
									</div>
									<div class="form-group col-12 col-sm-6">
										<label for="description">{{ "tour_description"|translated }}</label>
										<input type="text" name="description" class="form-control" id="description" placeholder="Description" value="{{state.entity.description()}}">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row mt-3">
				<div class="col-12">
					<div class="card mb-3">
						<div class="card-header d-flex justify-content-between align-items-center">
							<span class="title">{{ "tour_tourpositions"|translated }}</span>
							<div>
								<a class="btn btn-primary" href="/admin/tour/position/{{state.entity.id()}}" role="button">
									<span class="oi oi-plus"></span>
								</a>
							</div>
						</div>
						<ul class="list-group list-group-flush">
							{% for tourposition in state.entity.tourpositions %}
								<div class="list-group-item list-group-item-action">
									<div class="row">
										<div class="col-3">
											{{ tourposition.code() }}
										</div>
										<div class="col-8">
											{{ tourposition.description() }}
										</div>
										<div class="col-1">
											<span class="float-right">
												<button class="btn btn-danger" onclick="deletePositionById({{state.entity.id()}}, {{ tourposition.id() }})" type="button">
													<span class="oi oi-trash"></span>
												</button>
											</span>
										</div>
									</div>
								</div>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

		</div>
    </main>
{% endblock %}