<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="/public/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/lib/open-iconic/font/css/open-iconic-bootstrap.css">
	
	<style>
		/* Source: https://stackoverflow.com/a/49554284 */
		a.card-link,
		a.card-link:hover {
			color: inherit;
		}
		
		a.card-link:hover .card {
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		}
		
		.voucher-card img {
			height: 10rem;
		}

	</style>

	<script src="http://localhost:90/auth/js/keycloak.js"></script>
    
	{% block head %}
	{% endblock %}
</head>

<body>
	<script>
		const TEN = 10;
        var keycloak = Keycloak({
    		url: 'http://localhost:90/auth',
    		realm: 'cti',
    		clientId: 'webserver'
		});
		keycloak.onTokenExpired = function() {
			updateToken();
		};
		
		if (findCookie('ACCESS_TOKEN')) {
			keycloak.init({ onLoad: 'login-required', token: findCookie('ACCESS_TOKEN'), refreshToken: findCookie('REFRESH_TOKEN'), idToken: findCookie('IDENTITY_TOKEN')})
				.success(function(authenticated) {
					updateToken();
        		})
		} else {
			keycloak.init({ onLoad: 'login-required'})
				.success(function(authenticated) {
					if (authenticated) {
						updateAccessTokenCookie(keycloak.token);
					}
				})
				.error(function() {
					resetAccessTokenCookie();
				});
		}
		
		function updateToken() {
			keycloak.updateToken()
				.success(function(refreshed) {
					if (refreshed) {
						updateAccessTokenCookie(keycloak.token);
					}
				})
				.error(function() {
					resetAccessTokenCookie();
				});
		}

		function updateAccessTokenCookie(accessToken) {
			document.cookie = "ACCESS_TOKEN=" + keycloak.token + "; path=/";
			document.cookie = "REFRESH_TOKEN=" + keycloak.refreshToken + "; path=/";
			document.cookie = "IDENTITY_TOKEN=" + keycloak.idToken + "; path=/";
		}

		function resetAccessTokenCookie() {
			document.cookie = "ACCESS_TOKEN=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
			document.cookie = "REFRESH_TOKEN=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
			document.cookie = "IDENTITY_TOKEN=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
		}

		function findCookie(name) {
  			var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
  			if (match) return match[2];
		}
    </script>
	{% block content %}
	{% endblock %}
	
	<script src="/public/lib/jquery-3.4.1.slim.min.js"></script>
	<script src="/public/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	{% block scripts %}
	{% endblock %}
</body>

</html>