<!DOCTYPE html>
<html>
<head>
	<title>TITLE</title>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/open-iconic/font/css/open-iconic-bootstrap.css">
	
	<style>
		/* Source: https://stackoverflow.com/a/49554284 */
		a.card-link,
		a.card-link:hover {
			color: inherit;
		}
		
		a.card-link:hover .card {
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		}
		
		.voucher-card img {
			height: 10rem;
		}

	</style>
</head>

<body>
	{% from 'component.html' import component %}

	{{ component(navigation) }}
	
	<main class="mb-3">
		<div class="container">
			
			{{ component(loginForm) }}
			
			<div class="row">
				<div class="col-12">
					<div class="card my-3">
						<div class="card-header">
							Tickets
						</div>
						<div class="card-body">
							<form>
								<div class="form-row">
									<div class="form-group col-12 col-sm-6">
										<label for="touroperator">Touroperator</label>
										<input type="text" class="form-control" id="touroperator" placeholder="Tour operator">
									</div>
									<div class="form-group col-12 col-sm-6">
										<label for="tourcode">Tourcode</label>
										<input type="text" class="form-control" id="tourcode" placeholder="Tourcode">
									</div>
									<div class="form-group col-12 col-sm-6">
										<label for="datefrom">Date from</label>
										<input type="date" class="form-control" id="datefrom" placeholder="dd.MM.yyyy">
									</div>
									<div class="form-group col-12 col-sm-6">
										<label for="dateto">Date to</label>
										<input type="date" class="form-control" id="dateto" placeholder="dd.MM.yyyy">
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Search</button>
								<button type="reset" class="btn">Reset</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					<div class="card mb-3">
						<div class="card-header">
							Results
						</div>
						
						<ul class="list-group list-group-flush">
							<a href="#" class="list-group-item list-group-item-action">
								Dapibus ac facilisis in
							</a>
							<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
							<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
							<a href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					{{ component(ticketFormView) }}
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					{{ component(ticketPositionListView) }}
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					{{ component(ticketFormCreate) }}
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					{{ component(ticketPositionListCreate) }}
				</div>
			</div>
			
			<div class="row">
						
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="http://www.rhibuehne.ch/pics/theater/ticket.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Voucher A</h5>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<a href="#" class="card-link">
						<div class="card voucher-card">
							<img src="https://blog.varonis.de/wp-content/uploads/2018/08/golden-ticket-varonis-710x250-650x229.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5>Boucher B</h5>
							</div>
						</div>
					</a>
				</div>
				
			</div>
			
		</div>
	</main>
	
	<script src="lib/jquery-3.4.1.slim.min.js"></script>
	<script src="lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>

</html>