<div class="card my-3">
	<div class="card-header d-flex justify-content-between align-items-center">
		{{ "ticket_title"|translated(ticket.nr) }}
		<div>
			{% if mode.isView() %}
			<!-- TODO: implement delete -->
			<button type="button" class="btn btn-danger">
				<span class="oi oi-trash"></span>
			</button>
			<!-- TODO: implement edit -->
			<button type="button" class="btn btn-warning ml-2">
				<span class="oi oi-pencil"></span>
			</button>
			{% endif %}
			{% if not mode.isView() %}
			<!-- TODO: implement cancel -->
			<button type="button" class="btn btn-warning">
				<span class="oi oi-ban"></span>
			</button>
			<!-- TODO: implement save -->
			<button type="button" class="btn btn-success ml-2">
				<span class="oi oi-check"></span>
			</button>
			{% endif %}
		</div>
	</div>
	<div class="card-body">
		<form>
			<div class="form-row">
				<div class="form-group col-12 col-sm-6">
					<label for="touroperator">{{ "ticket_touroperator_label"|translated }}</label>
					<input type="text" required {{ mode.isView() ? "readonly" : "" }} class="{{ mode.isView() ? "form-control-plaintext" : "form-control" }}" id="touroperator" placeholder="{{ "ticket_touroperator_placeholder"|translated }}" value="{{ ticket.touroperator() }}">
				</div>
				<div class="form-group col-12 col-sm-6">
					<label for="tourcode">{{ "ticket_tourcode_label"|translated }}</label>
					<input type="text" required {{ mode.isView() ? "readonly" : "" }} class="{{ mode.isView() ? "form-control-plaintext" : "form-control" }}" id="tourcode" placeholder="{{ "ticket_tourcode_placeholder"|translated }}" value="{{ ticket.tourcode() }}">
				</div>
				<div class="form-group col-12 col-sm-6">
					<label for="date">{{ "ticket_date_label"|translated }}</label>
					<input type="date" required {{ mode.isView() ? "readonly" : "" }} class="{{ mode.isView() ? "form-control-plaintext" : "form-control" }}" id="date" placeholder="{{ "ticket_date_placeholder"|translated }}" value="{{ ticket.date() }}">
				</div>
			</div>
		</form>
	</div>
</div>