{% extends "base.html" %}
{% from 'component.html' import component %}

{% block title %}CTI{% endblock %}

{% block content %}
    {{ component(navigation) }}

    <main class="mb-3">
		<script>
			function submitForm() {
				document.getElementById('form').submit();
			}

			function deleteById() {
				fetch(window.location.href, {
					method: 'delete'
				}).then((response) => {
					goBack();
				});
			}

			function goBack() {
				window.location.href = '/admin/tour-positions';
			}
		</script>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="card my-3">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div>
								<a class="btn btn-info" href="/admin/tour-positions" role="button">
									<span class="oi oi-chevron-left"></span>
								</a>
								<span class="title">{{ "tourpositions_title"|translated }}</span>
							</div>
							<div>
								{% if mode.isEdit() %}
								<button type="button" onclick="deleteById()" class="btn btn-danger">
									<span class="oi oi-trash"></span>
								</button>
								
								{% endif %}
								<button type="button" onclick="submitForm()" class="btn btn-success ml-2">
									<span class="oi oi-check"></span>
								</button>
							</div>
						</div>
						<div class="card-body">
							<form method="POST" id="form">
								<div class="form-row">
									<div class="form-group col-12 col-sm-3">
										<label for="code">{{ "tourpositions_code"|translated }}</label>
										<input type="text" name="code" class="form-control" id="code" placeholder="Code" value="{{entity.code()}}">
									</div>
									<div class="form-group col-12 col-sm-6">
										<label for="description">{{ "tourpositions_description"|translated }}</label>
										<input type="text" name="description" class="form-control" id="description" placeholder="Description" value="{{entity.description()}}">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
            </div>
		</div>
    </main>
{% endblock %}