{% extends "base.html" %}
{% from 'component.html' import component %}

{% block title %}CTI{% endblock %}

{% block content %}
	{{ component(navigation) }}
	
	<main class="mb-3">
		<script>
			function onClear() {
				document.getElementById('code').value = "";
				document.getElementById('description').value = "";
			}
		</script>
		<div class="container">
			
			<div class="row">
				<div class="col-12">
					<div class="card my-3">
						<div class="card-header d-flex justify-content-between align-items-center">
							<span class="title">{{ "tourpositions_title"|translated }}</span>
							<div>
								<a class="btn btn-primary" href="/admin/tour-position" role="button">
									<span class="oi oi-plus"></span>
								</a>
							</div>
						</div>
						<div class="card-body">
							<form method="POST">
								<div class="form-row">
									<div class="form-group col-12 col-sm-3">
										<label for="code">{{ "tourpositions_code"|translated }}</label>
										<input type="text" name="code" class="form-control" id="code" placeholder="Code" value="{{filter.code()}}">
									</div>
									<div class="form-group col-12 col-sm-6">
										<label for="description">{{ "tourpositions_description"|translated }}</label>
										<input type="text" name="description" class="form-control" id="description" placeholder="Description" value="{{filter.description()}}">
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Search</button>
								<button type="button" class="btn" onclick="onClear()">Reset</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			{% if items is not empty %}
			<div class="row">
				<div class="col-12">
					<div class="card mb-3">
						<div class="card-header">
							Results
						</div>
						
						<ul class="list-group list-group-flush">
							{% for item in items %}
								<a href="tour-position/{{ item.id() }}" class="list-group-item list-group-item-action">
									<div class="row">
										<div class="col-3">
											{{ item.code() }}
										</div>
										<div class="col-9">
											{{ item.description() }}
										</div>
									</div>
								</a>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			
		</div>
	</main>
{% endblock %}
