{% extends "base.html" %}
{% from 'component.html' import component %}

{% block title %}CTI{% endblock %}

{% block content %}
	{{ component(navigation) }}

	<style>
		#canvas-container {
			padding: 15px;
		}
		
		canvas {
			border: 1px solid #000;
		}
		
		#editor-tools {
			position: absolute;
			top: 0px; 
			bottom: 0px;
			right: 0px;
			max-height: 100%;
			overflow: auto;
			padding-top: 15px;
			padding-right: 15px;
		}

		.cursor-pointer {
			cursor: pointer;
		}
	</style>

	<main>
		<div id="canvas-container">
			<canvas tabindex='1'></canvas>
		</div>
		<div id="editor-tools">
			<div class="card mb-3">
				<div class="card-header d-flex justify-content-between align-items-center">
					Template
					<div>
						<button type="button" class="btn btn-primary" onclick="downloadOutput()">
							Download
						</button>
					</div>
				</div>
				<div class="card-body">
					<form class="design-form mb-0">
						<div class="form-row">
							<div class="col">
								<div class="form-group">
									<label>Key</label>
									<input type="text" class="form-control" name="key" placeholder="Key" required>
								</div>
								<div class="form-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" accept="image/*" id="template-image-upload">
										<label class="custom-file-label">Choose Image</label>
									</div>
								</div>
								<div class="form-group mb-0">
									<div class="custom-file">
										<input type="file" class="custom-file-input" accept="application/json" id="configFileUpload">
										<label class="custom-file-label">Choose Configfile</label>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-header d-flex justify-content-between align-items-center">
					Text
					<div>
						<button type="button" class="btn btn-primary" id="add-text-button">
							Add Text
						</button>
						<button type="button" class="btn btn-danger" id="delete-button" disabled>
							Delete
						</button>
					</div>
				</div>
				<div class="card-body">
					<form class="text-form mb-0">
						<div class="form-row">
							<div class="col">
								<div class="form-group">
									<label>Key</label>
									<input type="text" class="form-control" name="key" placeholder="Key" required disabled>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col">
								<div class="form-group">
									<label>X</label>
									<input type="number" class="form-control" name="x" placeholder="X-Coordinate" required disabled>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label>Y</label>
									<input type="number" class="form-control" name="y" placeholder="Y-Coordinate" required disabled>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col">
								<div class="form-group">
									<label>Width</label>
									<input type="number" class="form-control" name="width" placeholder="Width" required disabled>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label>Height</label>
									<input type="number" class="form-control" name="height" placeholder="Height" required disabled>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					Texts
				</div>
				<ul class="list-group list-group-flush" id="tickettext-list-container">
				</ul>
			</div>

		</div>
	</main>

	<script type="module">
		import {SelectAndMoveMode} from '/public/designer/editor/mode/SelectAndMoveMode.js';
		import {RectangleDrawingMode} from '/public/designer/editor/mode/RectangleDrawingMode.js';
		import {TextCreateMode} from '/public/designer/editor/mode/TextCreateMode.js';
		import {DrawingModeAdapter, DrawingModeListAdapter} from '/public/designer/editor/mode/DrawingModeAdapters.js';
		import {TicketTextForm} from '/public/designer/editor/input/TicketTextForm.js';
		import {Editor} from '/public/designer/editor/Editor.js';
		import {EditorTools} from '/public/designer/editor/EditorTools.js';
		import {TicketTextEditor} from '/public/designer/editor/TicketTextEditor.js';
		import {ImageFilesReader} from '/public/designer/io/ImageFilesReader.js';
		import {FileUploadInput} from '/public/designer/io/FileUploadInput.js';
		import {FileDownloader} from '/public/designer/io/FileDownloader.js';
		import {TicketText} from '/public/designer/ticket/TicketText.js';
		import {TicketTextList} from '/public/designer/ticket/TicketTextList.js';
		import {TextSerializer} from '/public/designer/ticket/TextSerializer.js';
		import {DrawingCanvas} from '/public/designer/canvas/DrawingCanvas.js';
		import {InteractionCanvas} from '/public/designer/canvas/InteractionCanvas.js';
		import {BoundingBox} from '/public/designer/canvas/primitives/BoundingBox.js';
		import {RestrictedBoundingBox} from '/public/designer/canvas/primitives/RestrictedBoundingBox.js';
		import {DrawableImage} from '/public/designer/canvas/drawables/DrawableImage.js';
		import {DrawableRectangle} from '/public/designer/canvas/drawables/DrawableRectangle.js';
		
		function ConfigFilesReader() {
			
			this._files = [];
			
			this.read = function(files) {
				var self = this;
			
				for(var fileIndex = 0; fileIndex < files.length; fileIndex++) {
	
					var reader = new FileReader();
					reader.onload = function(event) {
						var jsonObj = JSON.parse(event.target.result);
						self._files.push(jsonObj);
						console.dir(jsonObj);
					}
	
					reader.readAsText(files[fileIndex]);
				}
			};
			
			this.files = function() {
				return this._files;
			};
			
			this.clear = function() {
				return this._files = [];
			};
		}
		
		function createEditor() {
			var canvas  = document.querySelector("canvas");
			var canvasContainer = document.getElementById("canvas-container");
			var templateImageUploadElement = document.getElementById('template-image-upload');
			var addTextModeButton = document.getElementById('add-text-button');
			var deleteButton = document.getElementById('delete-button');
			var editorToolsElement = document.getElementById('editor-tools');
			var textFormElement = editorToolsElement.querySelector('.text-form');
			var ticketTextListElement = document.getElementById('tickettext-list-container');
	
			function resizeCanvas() {
				var offsetTop = canvasContainer.offsetTop;
				var padding = 15;
				var border = 1;

				var canvasContainerHeight = window.innerHeight - offsetTop;

				canvas.width = window.innerWidth - editorToolsElement.clientWidth - 3*padding - 2*border;
				canvas.height = canvasContainerHeight - 2*padding - 2*border;

				// Canvas' containers height must be set in order to prevent strange issues with subpixel height
				canvasContainer.style.height = canvasContainerHeight + "px";

				editorToolsElement.style.top = offsetTop + "px";
			}

			resizeCanvas();
	
			window.onresize = function(event) {
				resizeCanvas();
			};
			
			var drawingCanvas = new DrawingCanvas(canvas);
			var interactionCanvas = new InteractionCanvas(canvas);

			var textForm = new TicketTextForm(textFormElement, drawingCanvas);
			var ticketTextList = new TicketTextList(ticketTextListElement, drawingCanvas);
			
			var templateImageUpload = new FileUploadInput(templateImageUploadElement);

			var ticketTextEditor = new TicketTextEditor(textForm, ticketTextList, addTextModeButton, deleteButton, drawingCanvas);

			return new Editor(drawingCanvas, interactionCanvas, templateImageUpload, ticketTextEditor);
		}
		
		function main() {
			var configFilesReader = new ConfigFilesReader();
			var configFileUpload = new FileUploadInput(document.getElementById('configFileUpload'), configFilesReader);
			
			var editor = createEditor();
			
			function animate() {
				requestAnimationFrame(animate);
				
				editor.draw();
			}
			animate();
		}
		main();
	</script>
{% endblock %}
