{% extends "base.html" %}
{% from 'component.html' import component %}

{% block title %}CTI{% endblock %}

{% block content %}
	{{ component(navigation) }}	

	<style>
		#canvas-container {
			padding: 15px;
		}
		
		canvas {
			border: 1px solid #000;
		}
		
		#editor-tools {
			position: absolute;
			top: 56px; 
			bottom: 0px;
			right: 0px;
			max-height: 100%;
			overflow: auto;
			padding-top: 15px;
			padding-right: 15px;
		}

		.cursor-pointer {
			cursor: pointer;
		}
	</style>

	<main>
		<div style="position: absolute; bottom: 15px; left: 15px;">

			<div class="toast" id="toast-save-successful" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
				<div class="toast-body">
					{{ "designer_save_successfull"|translated }}
				</div>
			</div>

		</div>

		<div id="canvas-container">
			<canvas tabindex='1'></canvas>
		</div>
		<div id="editor-tools">
			{{ component(messages) }}
			<div class="card mb-3">
				<div class="card-header d-flex justify-content-between align-items-center">
					{{ "designer_template"|translated }}
					<div>
						<button type="button" class="btn btn-primary" id="download-button">
							Download
						</button>
						<button type="button" class="btn btn-success ml-2" id="save-template-button">
							<span class="oi oi-check"></span>
						</button>
						<button type="button" class="btn btn-danger ml-2" id="delete-template-button" disabled>
							<span class="oi oi-trash"></span>
						</button>
					</div>
				</div>
				<div class="card-body">
					<form class="mb-0" id="design-form" onsubmit="return false;">
						<div class="form-row">
							<div class="col">
								<div class="form-group">
									<label>{{ "tickettemplate_key"|translated }}</label>
									<input type="text" class="form-control" name="key" placeholder="{{ 'tickettemplate_key'|translated }}" required>
								</div>
								<div class="form-group">
									<label>{{ "tickettemplate_touroperator"|translated }}</label>
									<select class="form-control" name="touroperator" required>
										{% for touroperator in touroperators %}
										<option value="{{ touroperator.id() }}" {{ touroperator.id() == selectedTouroperatorId ? "selected" : "" }}>{{ touroperator.name() }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group">
									<label>{{ "tickettemplate_image"|translated }}</label>
									<div class="custom-file">
										<input type="file" class="custom-file-input" accept="image/*" name="image" id="template-image-upload">
										<label class="custom-file-label">{{ "designer_choose_image"|translated }}</label>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-header d-flex justify-content-between align-items-center">
					{{ "designer_textdefinition"|translated }}
					<div>
						<button type="button" class="btn btn-primary" id="add-text-button">
							<span class="oi oi-plus"></span>
						</button>
						<button type="button" class="btn btn-danger ml-2" id="delete-text-button" disabled>
							<span class="oi oi-trash"></span>
						</button>
					</div>
				</div>
				<div class="card-body">
					<form class="mb-0" id="text-form" onsubmit="return false;">
						<div class="form-row">
							<div class="col">
								<div class="form-group">
									<label>{{ "textdefinition_key"|translated }}</label>
									<input type="text" class="form-control" name="key" placeholder="{{ 'textdefinition_key'|translated }}" required disabled>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col">
								<div class="form-group">
									<label>{{ "textdefinition_description"|translated }}</label>
									<input type="text" class="form-control" name="description" placeholder="{{ 'textdefinition_description'|translated }}" required disabled>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col">
								<div class="form-group">
									<label>{{ "textdefinition_x"|translated }}</label>
									<input type="number" class="form-control" name="x" placeholder="{{ 'textdefinition_x'|translated }}" required disabled>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label>{{ "textdefinition_y"|translated }}</label>
									<input type="number" class="form-control" name="y" placeholder="{{ 'textdefinition_y'|translated }}" required disabled>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col">
								<div class="form-group">
									<label>{{ "textdefinition_width"|translated }}</label>
									<input type="number" class="form-control" name="width" placeholder="{{ 'textdefinition_width'|translated }}" required disabled>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label>{{ "textdefinition_height"|translated }}</label>
									<input type="number" class="form-control" name="height" placeholder="{{ 'textdefinition_height'|translated }}" required disabled>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					{{ "designer_textdefinitions"|translated }}
				</div>
				<ul class="list-group list-group-flush" id="tickettext-list-container">
				</ul>
			</div>

		</div>
				
	</main>

	<script type="module">
		import {SelectAndMoveMode} from '/public/designer/editor/mode/SelectAndMoveMode.js';
		import {RectangleDrawingMode} from '/public/designer/editor/mode/RectangleDrawingMode.js';
		import {TextCreateMode} from '/public/designer/editor/mode/TextCreateMode.js';
		import {DrawingModeAdapter, DrawingModeListAdapter} from '/public/designer/editor/mode/DrawingModeAdapters.js';
		import {TicketTextForm} from '/public/designer/editor/input/TicketTextForm.js';
		import {TicketTemplateForm} from '/public/designer/editor/input/TicketTemplateForm.js';
		import {Editor} from '/public/designer/editor/Editor.js';
		import {TicketTextEditor} from '/public/designer/editor/TicketTextEditor.js';
		import {TicketTemplateEditor} from '/public/designer/editor/TicketTemplateEditor.js';
		import {ImageFilesReader} from '/public/designer/io/ImageFilesReader.js';
		import {FileUploadInput} from '/public/designer/io/FileUploadInput.js';
		import {TicketText} from '/public/designer/ticket/TicketText.js';
		import {TicketTextList} from '/public/designer/ticket/TicketTextList.js';
		import {TextSerializer} from '/public/designer/ticket/TextSerializer.js';
		import {DrawingCanvas} from '/public/designer/canvas/DrawingCanvas.js';
		import {InteractionCanvas} from '/public/designer/canvas/InteractionCanvas.js';
		import {BoundingBox} from '/public/designer/canvas/primitives/BoundingBox.js';
		import {RestrictedBoundingBox} from '/public/designer/canvas/primitives/RestrictedBoundingBox.js';
		import {DrawableImage} from '/public/designer/canvas/drawables/DrawableImage.js';
		import {DrawableRectangle} from '/public/designer/canvas/drawables/DrawableRectangle.js';
		
		function createEditor() {
			var canvas  = document.querySelector("canvas");
			var canvasContainer = document.getElementById("canvas-container");
			var templateImageUploadElement = document.getElementById('template-image-upload');
			var addTextModeButton = document.getElementById('add-text-button');
			var deleteTextButton = document.getElementById('delete-text-button');
			var saveTemplateButton = document.getElementById('save-template-button');
			var deleteTemplateButton = document.getElementById('delete-template-button');
			var editorToolsElement = document.getElementById('editor-tools');
			var textFormElement = document.getElementById('text-form');
			var templateFormElement = document.getElementById('design-form');
			var ticketTextListElement = document.getElementById('tickettext-list-container');
	
			function resizeCanvas() {
				var offsetTop = canvasContainer.offsetTop;
				var padding = 15;
				var border = 1;

				var canvasContainerHeight = window.innerHeight - offsetTop - 1;

				canvas.width = window.innerWidth - editorToolsElement.clientWidth - 3*padding - 2*border;
				canvas.height = canvasContainerHeight - 2*padding - 2*border;

				// Canvas' containers height must be set in order to prevent strange issues with subpixel height
				canvasContainer.style.height = canvasContainerHeight + "px";

				editorToolsElement.style.top = offsetTop + "px";
			}

			resizeCanvas();
	
			window.onresize = function(event) {
				resizeCanvas();
			};
			
			let drawingCanvas = new DrawingCanvas(canvas);
			let interactionCanvas = new InteractionCanvas(canvas);

			let textForm = new TicketTextForm(textFormElement, drawingCanvas);
			let ticketTextList = new TicketTextList(ticketTextListElement, drawingCanvas);
			let ticketTextEditor = new TicketTextEditor(textForm, ticketTextList, addTextModeButton, deleteTextButton, drawingCanvas);
			
			let templateForm = new TicketTemplateForm(templateFormElement, drawingCanvas);
			let ticketTemplateEditor = new TicketTemplateEditor(templateForm, saveTemplateButton, deleteTemplateButton, drawingCanvas);
			let templateImageUpload = new FileUploadInput(templateImageUploadElement);

			return new Editor(drawingCanvas, interactionCanvas, templateImageUpload, ticketTextEditor, ticketTemplateEditor);
		}

		import {FileDownloader} from '/public/designer/io/FileDownloader.js';
		function cti_debug(editor) {
			
			document.getElementById('download-button').addEventListener('click', (event) => {
				// Generate a txt-file whose content looks like this:
				// template_id T1
				// image resources/images/test.png
				// text tourcode;100,0;200,50

				function renderTexts(textDefinitions) {
					let out = "";
					textDefinitions.forEach((text) => {
						out += `text ${text.key};${text.rectangle.x};${text.rectangle.y};${text.rectangle.x + text.rectangle.width};${text.rectangle.y + text.rectangle.height}\n`;
					});
					return out;
				}

				let value = editor.value;
				
				let imageExtension = value.imageFile.name.split('.').pop();
				let content = `template_id ${value.key}\nimage resources/images/${value.key}.${imageExtension}\n${renderTexts(value.textDefinitions)}`;

				let filename = value.key + ".txt";

				let downloader = FileDownloader.TEXT_UTF8;
				downloader.download(filename, content);
			});
		}

		function main() {
			let editor = createEditor();

			let id = "{{ id }}"; // Inject id of template via TWIG-Templating engine
			editor.init(id);

			cti_debug(editor);
			
			function animate() {
				requestAnimationFrame(animate);
				
				editor.draw();
			}
			animate();
		}
		main();
	</script>
{% endblock %}
